<span class="text-upper">{{ 'bookTable.dialog.title' | translate }}</span>
<ion-grid>
  <ion-row class="justify-space-between">
    <span>{{ 'formFields.date' | translate }}</span> <span>{{ date }}</span>
  </ion-row>
  <span class="push-bottom-sm push-top-sm"> <hr /> </span>
  <ion-row class="justify-space-between">
    <span>{{ 'formFields.name' | translate }}</span>
    <span>{{ data.name }}</span>
  </ion-row>
  <span class="push-bottom-sm push-top-sm">
    <hr />
    >
  </span>
  <ion-row class="justify-space-between">
    <span>{{ 'formFields.email' | translate }}</span>
    <span>{{ data.email }}</span>
  </ion-row>
  <span class="push-bottom-sm push-top-sm"> <hr /> </span>
  <ion-row class="justify-space-between">
    <ion-col col-6>
      <span>{{ 'formFields.friends' | translate }}</span>
    </ion-col>
    <ion-col col-6>
      <span *ngFor="let inv of data.invitedGuests">{{ inv }}</span>
    </ion-col>
  </ion-row>
  <span class="push-bottom-sm push-top-sm"> <hr /> </span>
</ion-grid>

<div class="align-right" flex>
  <button mat-button (click)="dismiss()" class="text-upper">
    {{ 'buttons.cancel' | translate }}
  </button>
  <button
    mat-button
    (click)="sendInvitation()"
    color="accent"
    class="text-upper"
  >
    {{ 'buttons.send' | translate }}
  </button>
</div>
