<ion-header> <app-header></app-header> </ion-header>

<ion-content padding>
  <div class="property-text-center pad-top-sm pad-right-sm pad-left-sm" flex>
    <h3>{{ 'bookTable.title' | translate }}</h3>
  </div>
  <ion-card class="push-lg">
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="book">
        {{ 'bookTable.bookingTab' | translate }}
      </ion-segment-button>
      <ion-segment-button value="invite">
        {{ 'bookTable.reservationTab' | translate }}
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tab">
      <ion-grid fixed *ngSwitchCase="'book'">
        <ion-row>
          <ion-col col-12 col-sm>
            <img src="./assets/images/slider-1.jpg" />
          </ion-col>

          <ion-col col-12 col-sm>
            <form
              class="pad"
              [formGroup]="bookForm"
              (keydown.enter)="$event.preventDefault()"
            >
              <div layout="column" flex>
                <span class="title-card property-text-bold text-upper">{{
                  'bookTable.bookingTitle' | translate
                }}</span>
                <span class="subtitle-card push-bottom">{{
                  'bookTable.bookingSubtitle' | translate
                }}</span>
              </div>
              <div layout="column" flex>
                <input
                  placeholder="{{'formFields.dateTime' | translate}}"
                  formControlName="bookingDate"
                  [min]="minDate"
                  [owlDateTimeTrigger]="booking1"
                  [owlDateTime]="booking1"
                />
                <owl-date-time
                  [pickerMode]="'dialog'"
                  [firstDayOfWeek]="getFirstDayWeek()"
                  #booking1
                ></owl-date-time>

                <ion-input
                  placeholder="{{'formFields.name' | translate}}"
                  formControlName="name"
                ></ion-input>
                <!--
                  <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                             <div *ngIf="name.errors.required">
                                                 {{'bookTable.formErrors.nameRequired' | translate}}
                                             </div>
                                         </mat-error>
                -->

                <ion-input
                  placeholder="{{'formFields.email' | translate}}"
                  formControlName="email"
                ></ion-input>
                <!--
                  <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                             <div *ngIf="email.errors.required">
                                                 {{'bookTable.formErrors.emailRequired' | translate}}
                                             </div>
                                             <div *ngIf="email.errors.pattern">
                                                 {{'bookTable.formErrors.emailPattern' | translate}}
                                             </div>
                                         </mat-error>
                -->

                <ion-input
                  placeholder="{{'formFields.assistants' | translate}}"
                  formControlName="assistants"
                  type="number"
                ></ion-input>
                <!--
                  <mat-error *ngIf="assistants.invalid && (assistants.dirty || assistants.touched)">
                                           <div *ngIf="assistants.errors.required">
                                               {{'bookTable.formErrors.assistantsRequired' | translate}}
                                           </div>
                                           <div *ngIf="assistants.errors.max">
                                               {{'bookTable.formErrors.assistantsMax' | translate}}
                                           </div>
                                           <div *ngIf="assistants.errors.min">
                                               {{'bookTable.formErrors.assistantsMin' | translate}}
                                           </div>
                                       </mat-error>
                -->

                <ion-checkbox class="inlineElement" #termsd></ion-checkbox>
                <ion-label class="inlineElement">{{
                  'formFields.terms' | translate
                }}</ion-label>

                <div class="align-right">
                  <button
                    mat-button
                    type="button"
                    (click)="showBookTablePopover(termsd)"
                    [disabled]="!(bookForm.valid && termsd.checked)"
                    color="accent"
                    class="text-upper"
                  >
                    {{ 'buttons.bookTable' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngSwitchCase="'invite'">
        <ion-row>
          <ion-col col-12 col-sm>
            <img src="./assets/images/slider-2.jpg" />
          </ion-col>

          <ion-col col-12 col-sm>
            <form
              class="pad"
              [formGroup]="invitationForm"
              (keydown.enter)="$event.preventDefault()"
            >
              <div class="title-card property-text-bold text-upper">
                {{ 'bookTable.reservationTitle' | translate }}
              </div>

              <input
                placeholder="{{'formFields.dateTime' | translate}}"
                formControlName="bookingDate"
                [min]="minDate"
                [owlDateTimeTrigger]="booking2"
                [owlDateTime]="booking2"
              />
              <owl-date-time
                [pickerMode]="'dialog'"
                [firstDayOfWeek]="getFirstDayWeek()"
                #booking2
              ></owl-date-time>

              <ion-input
                placeholder="{{'formFields.name' | translate}}"
                formControlName="name"
              ></ion-input>
              <!--
                <mat-error *ngIf="invName.invalid && (invName.dirty || invName.touched)">
                    <div *ngIf="invName.errors.required">
                        {{'bookTable.formErrors.nameRequired' | translate}}
                    </div>
                </mat-error>
              -->

              <ion-input
                placeholder="{{'formFields.email' |  translate}}"
                formControlName="email"
              ></ion-input>
              <!--
                <mat-error *ngIf="invEmail.invalid && (invEmail.dirty || invEmail.touched)">
                    <div *ngIf="invEmail.errors.required">
                        {{'bookTable.formErrors.emailRequired' | translate}}
                    </div>
                    <div *ngIf="invEmail.errors.pattern">
                        {{'bookTable.formErrors.emailPattern' | translate}}
                    </div>
                </mat-error>
              -->

              <h4>{{ 'formFields.guests' | translate }}</h4>
              <div #emailChipContainer></div>
              <ion-input
                #emailInput
                class="pad-bottom-sm"
                formControlName="invitedGuests"
                name="invitedGuests"
                (keydown.enter)="addEmail(emailInput.value)"
                placeholder="{{'formFields.guestsPH' | translate}}"
              ></ion-input>

              <ion-checkbox #termsi class="inlineElement"></ion-checkbox>
              <ion-label class="inlineElement">{{
                'formFields.terms' | translate
              }}</ion-label>
              <div
                class="
                                align-right"
              >
                <button
                  ion-button
                  type="button"
                  (click)="showInviteDialog(termsi)"
                  [disabled]="
                    !(
                      invitationForm.valid &&
                      invitationModel.length > 0 &&
                      termsi.checked
                    )
                  "
                  color="accent"
                  class="text-upper"
                >
                  {{ 'buttons.inviteFriends' | translate }}
                </button>
              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
