<ion-segment [(ngModel)]="tab">
  <ion-segment-button value="login">
    {{ 'userArea.loginTitle' | translate }}
  </ion-segment-button>
  <ion-segment-button value="register">
    {{ 'userArea.signupTitle' | translate }}
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="tab">
  <form
    *ngSwitchCase="'login'"
    (ngSubmit)="submit(loginForm.form.value)"
    class="pad"
    #loginForm="ngForm"
  >
    <ion-grid fixed>
      <ion-row>
        <ion-item>
          <ion-label
            floating
            [class.invalid]="
              username.invalid && (username.dirty || username.touched)
            "
            [class.valid]="username.valid"
            >{{ 'formFields.username' | translate }} *</ion-label
          >
          <ion-input
            color="secondary"
            ngModel
            name="username"
            required
            #username="ngModel"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label
            floating
            [class.invalid]="
              password.invalid && (password.dirty || password.touched)
            "
            [class.valid]="password.valid"
            >{{ 'formFields.password' | translate }} *</ion-label
          >
          <ion-input
            name="password"
            type="password"
            ngModel
            #password="ngModel"
            required
          ></ion-input>
        </ion-item>
      </ion-row>

      <ion-row justify-content-end>
        <button ion-button class="text-upper" type="button" (click)="dismiss()">
          {{ 'buttons.cancel' | translate }}
        </button>
        <button
          ion-button
          type="submit"
          [disabled]="!loginForm.valid"
          class="text-upper button-form-submit"
        >
          {{ 'buttons.login' | translate }}
        </button>
      </ion-row>
    </ion-grid>
  </form>

  <form
    *ngSwitchCase="'register'"
    (ngSubmit)="submit(registerForm.value)"
    class="pad"
    #registerForm="ngForm"
  >
    <ion-grid fixed>
      <ion-row>
        <ion-item>
          <ion-label
            floating
            [class.invalid]="email.invalid && (email.dirty || email.touched)"
            [class.valid]="email.valid"
            >{{ 'formFields.email' | translate }} *</ion-label
          >
          <ion-input
            color="secondary"
            ngModel
            name="email"
            #email="ngModel"
            required
            validateEmail
          ></ion-input>
        </ion-item>
        <div
          [@itemState]="in"
          class="input-error"
          *ngIf="
            email.invalid &&
            (email.dirty || email.touched) &&
            !email.errors.required
          "
        >
          {{ 'userArea.emailError' | translate }}
        </div>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label
            floating
            [class.invalid]="
              password1.invalid && (password1.dirty || password1.touched)
            "
            [class.valid]="password1.valid"
            >{{ 'formFields.password' | translate }} *</ion-label
          >
          <ion-input
            name="password1"
            type="password"
            ngModel
            required
            validateEqual="password2"
            reverse="true"
            #password1="ngModel"
          ></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label
            floating
            [class.invalid]="
              password2.invalid && (password2.dirty || password2.touched)
            "
            [class.valid]="password2.valid"
            >{{ 'formFields.confirmPassword' | translate }} *</ion-label
          >
          <ion-input
            name="password2"
            type="password"
            ngModel
            required
            validateEqual="password1"
            reverse="false"
            #password2="ngModel"
          ></ion-input>
        </ion-item>
        <div
          [@itemState]="in"
          class="input-error"
          *ngIf="
            password2.invalid &&
            (password2.dirty || password2.touched) &&
            !password2.errors.required
          "
        >
          {{ 'alerts.passwordError' | translate }}
        </div>
      </ion-row>

      <ion-row justify-content-end>
        <button ion-button class="text-upper" type="button" (click)="dismiss()">
          {{ 'buttons.cancel' | translate }}
        </button>
        <button
          ion-button
          type="submit"
          [disabled]="!registerForm.valid"
          class="text-upper button-form-submit"
        >
          {{ 'buttons.login' | translate }}
        </button>
      </ion-row>
    </ion-grid>
  </form>
</div>
