<ion-menu side="left" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="star-outline"></ion-icon> My Thai Star
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="auth.isPermited('CUSTOMER')">
      <button
        menuClose
        ion-item
        *ngFor="let p of customerPages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
    <ion-list *ngIf="auth.isPermited('WAITER')">
      <button
        menuClose
        ion-item
        *ngFor="let p of waiterPages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="right" [content]="content" id="languages">
  <ion-content>
    <ion-list id="flagList">
      <button
        menuClose="right"
        ion-item
        *ngFor="let lang of selectableLangs"
        [disabled]="translate.currentLang === lang.value"
        (click)="changeLanguage(lang.value)"
      >
        <span class="flag-icon flag-icon-{{lang.flag}} flagMenuIcon"></span>
        <span>{{ lang.label }}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!--
  Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
-->
<ion-nav [root]="rootPage" swipeBackEnabled="false" #content></ion-nav>
