<h3>{{ 'userArea.passwordDialog.title' | translate }}</h3>
<form
  (ngSubmit)="passwordSubmit(passwordForm.form.value)"
  #passwordForm="ngForm"
>
  <ion-grid>
    <ion-row>
      <ion-input
        type="password"
        name="oldPassword"
        placeholder="{{'userArea.passwordDialog.currentPassword' | translate}}"
        ngModel
        required
        validateEqual="confirmPassword"
        reverse="true"
        #password="ngModel"
      ></ion-input>
    </ion-row>
    <ion-row>
      <ion-input
        type="password"
        name="newPassword"
        placeholder="{{'userArea.passwordDialog.newPassword' | translate}}"
        ngModel
        required
        validateEqual="verifyPassword"
        reverse="true"
        #newPassword="ngModel"
      ></ion-input>
    </ion-row>
    <ion-row>
      <ion-input
        type="password"
        name="verifyPassword"
        placeholder="{{'userArea.passwordDialog.verifyPassword' | translate}}"
        ngModel
        required
        validateEqual="newPassword"
        reverse="false"
        #verifyPassword="ngModel"
      ></ion-input>
      <!-- <mat-error>{{'alerts.passwordError' | translate}}</mat-error> -->
    </ion-row>
    <ion-row>
      <div class="align-right" flex>
        <button ion-button type="button" class="text-upper" (click)="dismiss()">
          {{ 'buttons.cancel' | translate }}
        </button>
        <button
          ion-button
          type="submit"
          [disabled]="!passwordForm.form.valid"
          color="accent"
        >
          {{ 'buttons.save' | translate }}
        </button>
      </div>
    </ion-row>
  </ion-grid>
</form>
