<div padding>
  <h3>{{ 'userArea.passwordDialog.title' | translate }}</h3>
  <form
    (ngSubmit)="passwordSubmit(passwordForm.form.value)"
    #passwordForm="ngForm"
  >
    <ion-grid>
      <ion-row>
        <ion-item
          [ngClass]="{
            'ng-valid': password.valid,
            'ng-invalid': password.invalid,
            'ng-touched': password.touched
          }"
        >
          <ion-label
            floating
            [class.invalid]="
              password.invalid && (password.dirty || password.touched)
            "
            [class.valid]="password.valid"
            >{{
              'userArea.passwordDialog.currentPassword' | translate
            }}
            *</ion-label
          >
          <ion-input
            type="password"
            name="oldPassword"
            placeholder=""
            ngModel
            required
            validateEqual="confirmPassword"
            reverse="true"
            #password="ngModel"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item
          [ngClass]="{
            'ng-valid': newPassword.valid,
            'ng-invalid': newPassword.invalid,
            'ng-touched': newPassword.touched
          }"
        >
          <ion-label
            floating
            [class.invalid]="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
            [class.valid]="newPassword.valid"
            >{{
              'userArea.passwordDialog.newPassword' | translate
            }}
            *</ion-label
          >
          <ion-input
            type="password"
            name="newPassword"
            ngModel
            required
            validateEqual="verifyPassword"
            reverse="true"
            #newPassword="ngModel"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item
          [ngClass]="{
            'ng-valid': verifyPassword.valid,
            'ng-invalid': verifyPassword.invalid,
            'ng-touched': verifyPassword.touched
          }"
        >
          <ion-label
            floating
            [class.invalid]="
              verifyPassword.invalid &&
              (verifyPassword.dirty || verifyPassword.touched)
            "
            [class.valid]="verifyPassword.valid"
            >{{
              'userArea.passwordDialog.verifyPassword' | translate
            }}
            *</ion-label
          >
          <ion-input
            type="password"
            name="verifyPassword"
            ngModel
            required
            validateEqual="newPassword"
            reverse="false"
            #verifyPassword="ngModel"
          ></ion-input>
        </ion-item>
        <div
          [@itemState]="in"
          class="input-error"
          *ngIf="
            verifyPassword.invalid &&
            (verifyPassword.dirty || verifyPassword.touched) &&
            !verifyPassword.errors.required
          "
        >
          {{ 'alerts.passwordError' | translate }}
        </div>
      </ion-row>
      <ion-row justify-content-end>
        <button ion-button type="button" class="text-upper" (click)="dismiss()">
          {{ 'buttons.cancel' | translate }}
        </button>
        <button
          ion-button
          type="submit"
          [disabled]="!passwordForm.form.valid"
          class="button-form-submit"
        >
          {{ 'buttons.save' | translate }}
        </button>
      </ion-row>
    </ion-grid>
  </form>
</div>
