menu-card-comments {
  .item {
    background-color: rgba(0, 0, 0, 0.3) !important;
    max-height: 50% !important;
    min-height: 50% !important;
  }

  ion-avatar {
    max-height: 100% !important;
    min-height: 100% !important;
  }

  .grid {
    max-height: 100% !important;
  }

  .twitter-title {
    font-size: 1.1em;
    color: white;
    white-space: normal;
  }

  .twitter-text {
    font-size: 0.8em;
    color: white;
  }
}
